body {
    margin: 0;
    padding: 0;
    background-image: url('../images/fondos/fondo.png');
    background-size: contain;
    background-attachment: fixed;
    background-repeat: round;
}

h1{
    z-index: 1;
    margin-top: 120px;
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: #f8e3a0;
    text-shadow: 1px 1px 1px #EAAE54,
        1px 2px 1px #EAAE54,
        1px 3px 1px #EAAE54,
        1px 4px 1px #EAAE54,
        1px 5px 1px #EAAE54,
        1px 6px 1px #EAAE54,
        1px 7px 1px #EAAE54,
        1px 8px 1px #EAAE54,
        1px 9px 1px #EAAE54,
        1px 10px 1px #EAAE54,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

a{
    color: #99F2FF;
    font-family: "Madimi One", sans-serif;
    text-decoration: none;
    padding-top: 2px;
    font-size: 18px;
}

a:hover{
    color: #D7FCFF;
}

#a1{
    padding-right: 12px;
}

#a2{
    padding-left: 37px;
}

.button{
    appearance: none;
    background-color: #FFFFFF;
    border-width: 0;
    border-radius: 23px;
    box-sizing: border-box;
    color: #242424;
    cursor: pointer;
    display: inline-block;
    font-family: "Madimi One", sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    /* line-height: 1em; */
    /* margin-left: 570px; */
    opacity: 1;
    outline: 0;
    padding: 0.7em 1.7em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    /* text-transform: uppercase; */
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button:before {
    border-radius: 23px;
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #EBEBEB;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button:hover:before {
    border-radius: 23px;
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button:after {
    background-color: #FFFFFF;
}

.button span {
    z-index: 1;
    position: relative;
}

.jugar{
    display: grid;
    justify-items: end;
}

.puntaje{
    display: grid;
    justify-items: start;
}

.logo{
    z-index: -1;
    opacity: 0.9;
    margin: 50px;
    top: 0;
    object-fit: cover;
    pointer-events: none;
    position: fixed;
}

.botones{
    border: none;
    background-color: transparent;
}
